.mat-drawer-container {
  height: 100vh;
}

.sidenav {
  width: 300px;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.logo-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 0 16px;
  min-height: 56px;
  display: flex;
  align-items: center;
}

mat-toolbar-row {
  background-color: lightblue;
}

mat-toolbar,
mat-toolbar-row {
  min-height: 56px;
  height: 56px;
}

.menu-icon {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.menu-items {
  list-style-type: none;
  padding-left: 0;
  margin: 0;

  li {
    padding: 0 16px;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
